build/
__pycache__/
*.pyc
external/madrona/external/madrona-deps/bundled-deps/
external/madrona/external/madrona-toolchain/bundled-toolchain/
external/mujoco_menagerie/
conda/output/
external/madrona/external/madrona-toolchain/cmake-tmp/
external/madrona/external/madrona-deps/cmake-tmp/
src/madrona_mjx/*.so
